@charset "utf-8";
@import "./shared";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/grid/_all";

/** Mixins */
@import "./mixins/spacing";

/** Application Specific */
body {
    height: 100vh;
    padding-top: 85px;
}

.app {
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $family-serif;
}

.text-is-small {
    font-size: $text-sm;
}

.save-me {
    @extend .m-t-2xl;
}

.paragraph {
    &.text-hovered {
        margin: -1.0625rem; // 1px = 0.0625rem. Have to add the border with to the margin so text won't jump
        border: 1px dashed $grey-lightest;
        padding: 1rem;
        cursor: pointer;
    }

    &.text-not-hovered {
        margin: -1rem;
        border: none;
        padding: 1rem;
    }
}

.divider {
    @extend hr;
    @extend .m-t-5xl;
    @extend .m-b-2xl;
    background-color: $white;
    border-top: 2px solid $black;
}

.bottom {
    @extend .p-t-5xl;
    @extend .p-b-5xl;
}
